.open {
    transform: translateX(60rem);
}

.openbg {
    opacity: 0;
}

.closebg {
    opacity: 1;
}

.child {
    width: 10rem;
    height: 10rem;
    transition: all ease-in 0.1s;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 10rem;
    height: 100vh;
    width: 100vw
  }
  
  .elehover {
    opacity: 0;
  }

.text {
    background: linear-gradient(to bottom, #126E82 0%, #51C4D3 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.4;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: clip;
}